/* ./src/pages/GameRoom.css */

.game-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #1f4037, #99f2c8); /* Fond dynamique */
  overflow: hidden;
}

.game-room {
  transform-origin: top left;
  /* On suppose que le design idéal fait 1200px de large et 900px de haut
	   Ajustez ces valeurs si nécessaire */
  transform: scale(min(100vw/1200, 100vh/900));
}

.game-room-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-room h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px var(--accent-color);
}

.game-room h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.game-content {
  display: flex;
  flex-direction: row; /* Place les éléments l'un à côté de l'autre */
  justify-content: center;
  align-items: flex-start; /* Pour aligner en haut, ce qui est plus logique pour des grilles */
  width: 100%;
  max-width: 1200px;
  gap: 20px; /* Un écart entre la grille principale et les grilles adverses */
}

.game-grid-container,
.opponents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.opponents-container {
  max-width: 300px;
}

.score-board {
  margin-top: 20px;
  font-size: 1.5rem;
  text-shadow: 0 0 5px var(--accent-color);
}

.quit-button {
  margin-top: 10px;
  background: linear-gradient(45deg, #ff4d4f, #ff7875);
  box-shadow: 0 0 10px #ff4d4f;
  color: #ffffff;
}

.quit-button:hover {
  box-shadow: 0 0 15px #ff4d4f;
}
