/* ./src/pages/SoloGame.css */

.solo-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #1f4037, #99f2c8); /* Fond dynamique */
  overflow: hidden;
}

.solo-game h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-shadow: 0 0 10px var(--accent-color);
}

.solo-game h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.score-board {
  margin-top: 20px;
  font-size: 1.5rem;
  text-shadow: 0 0 5px var(--accent-color);
}

.quit-button {
  margin-top: 10px;
  background: linear-gradient(45deg, #ff4d4f, #ff7875);
  box-shadow: 0 0 10px #ff4d4f;
  color: #ffffff;
}

.quit-button:hover {
  box-shadow: 0 0 15px #ff4d4f;
}
