/* ./src/components/CreateRoom/CreateRoom.css */

.create-room {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.create-room button {
  width: 100%;
  max-width: 220px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background: linear-gradient(
    45deg,
    var(--accent-color),
    var(--secondary-accent)
  );
  box-shadow: 0 0 15px var(--accent-color);
  color: var(--text-color);
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 5px;
  cursor: pointer; /* Changer le curseur au survol */
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.create-room button:hover {
  box-shadow: 0 0 20px var(--accent-color);
  transform: scale(1.05);
}
