/* ./src/components/RoomList/RoomList.css */

.room-list {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  box-sizing: border-box;
}

.room-list h2 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0 0 5px var(--accent-color);
}

.room-list ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.room-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--accent-color);
  width: 100%;
}

.room-list li span {
  font-size: 1rem;
  color: var(--text-color);
}

.room-list button {
  margin-top: 10px;
  padding: 0.4rem 0.8rem;
  background: linear-gradient(
    45deg,
    var(--accent-color),
    var(--secondary-accent)
  );
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
  max-width: 150px;
}

.room-list button:hover {
  background: linear-gradient(
    45deg,
    var(--secondary-accent),
    var(--accent-color)
  );
  transform: scale(1.05);
}
